button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.book-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
}
.lien_click {
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
}
.lien_click:hover {
  color: blue;
}